In [6]:
import pandas as pd
import sqlite3

In [7]:
# Load data from CSV files
providers = pd.read_csv("providers_data.csv")
receivers = pd.read_csv("receivers_data.csv")
food_listings = pd.read_csv("food_listings_data.csv")
claims = pd.read_csv("claims_data.csv")

In [8]:
providers

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577
...,...,...,...,...,...,...
995,996,"Vasquez, Ruiz and Flowers",Restaurant,"84308 Justin Stravenue\nNew Amberside, NE 53447",Williamview,+1-319-378-7627x0682
996,997,Garza-Williams,Catering Service,"08864 Figueroa Radial Suite 948\nJennaberg, AZ...",East Rossside,001-924-441-3963x746
997,998,Novak Group,Grocery Store,"934 Zachary Run\nMelissamouth, WY 02729",Joshuastad,(903)642-1969x3300
998,999,Moody Ltd,Grocery Store,"17580 Ernest Hills\nLake Michaelmouth, OR 56416",Stevenchester,637.300.3664x4880
999,1000,Jenkins-Brooks,Restaurant,"53390 Evans Rapids Suite 982\nLake Meghan, MO ...",Brendantown,266-324-3458x95775

In [9]:
# Database connection
conn = sqlite3.connect("food_wastage.db")
cursor = conn.cursor()

In [10]:
# Creating tables
cursor.execute('''
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INTEGER PRIMARY KEY,
        Name TEXT,
        Type TEXT,
        Address TEXT,
        City TEXT,
        Contact TEXT
    )
''')

In [1]:
import mysql.connector

In [12]:
# MySQL connection setup
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345",
    
)
cursor = conn.cursor()

In [13]:
cursor.execute("CREATE DATABASE IF NOT EXISTS food_data")
print("MySQL database 'food_data' created successfully!")

MySQL database 'food_data' created successfully!

In [14]:
cursor.execute("use food_data")

In [15]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        Address TEXT,
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

In [16]:
# Insert data using iterrows()
for index, row in providers.iterrows():
    cursor.execute("""
        INSERT INTO providers (Provider_ID, Name, Type, Address, City, Contact) 
        VALUES (%s, %s, %s, %s, %s, %s)
    """, tuple(row))

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'providers.PRIMARY'

ðŸ“Œ Which city has the highest number of food providers?

In [17]:
# SQL query to get the city with the highest number of providers
query = """
    SELECT City, COUNT(*) AS Provider_Count
    FROM providers
    GROUP BY City
    ORDER BY Provider_Count DESC
    LIMIT 1;
"""

cursor.execute(query)
result = cursor.fetchall()

# Convert result into a DataFrame for better readability
df = pd.DataFrame(result, columns=["City", "Provider_Count"])
df

        City  Provider_Count
0  New Carol               3

In [24]:
%%writefile foods_app.py
import streamlit as st 

st.title("This is my project")

st.header("This is a header")
st.subheader("This is a subheader")


st.text("This is plain text")
st.markdown("### This is a markdown text")


# Input Widgets
name = st.text_input("Enter your name")
feedback = st.text_area("Provide your feedback")



# Buttons and Checkboxes
if st.button("Submit"):
    st.success(f"Hello {name}, thanks for your feedback!")


agree = st.checkbox("I agree to the terms and conditions")
if agree:
    st.write("You agreed!")

choice = st.radio("Choose an option:", ["Option 1", "Option 2", "Option 3"])
st.write(f"You selected: {choice}")

# Selectbox and Multiselect
color = st.selectbox("Select a color", ["Red", "Green", "Blue"])
st.write(f"You chose: {color}")

hobbies = st.multiselect("Select your hobbies", ["Reading", "Coding", "Gaming"])
st.write(f"Your hobbies: {', '.join(hobbies)}")

# Sliders and Number Input
age = st.slider("Select your age", 1, 100, 25)
st.write(f"Your age is: {age}")

Overwriting foods_app.py

In [21]:
!streamlit run foods_app.py

^C